.container{
    min-width: 640px;
}
.body{
    position: relative;
    border: 1px solid #C3C3C3;
    background: #eee;
    overflow: auto;
    max-height: 480px;
}
.body canvas{
    margin: 0 auto;
    display: block;
}
.body .dropper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.body .dropper h2{
    margin: 10% auto 0;
    text-align: center;
}
.link-button{
    float: right;
    font-weight: normal;
    margin: 0 5px;
}
